.mainPage {
    display: flex;
    flex-direction: column;
    margin: var(--paddingGap);
    height: 100vh;
    gap: 2em;
}

.mainPage .title {
    font-size: 2em;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
}

.mainPage .addSubject {
    display: flex;
    flex-direction: column;
}

.mainPage .text {
    font-size: 1.3em;
    font-weight: 300;
}

.mainPage .box {
    border: 3px solid #ebebeb;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 35px;
    font-size: 1.1em;
    margin-bottom: 2em;
}

#subjectCode {
    width: 320px;
}

#subjectName {
    width: 90vw;
}

@media only screen and (max-width: 360px) {
    #submit {
        align-self: center;
    }
}

.mainPage .box:focus {
    outline: 0;
    border-bottom: 3px solid orange;
}

.mainPage #submit {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    background-color: var(--primaryColor);
    color: var(--textColor);
    border: 0;
    cursor: pointer;
    padding: 0.5em 3em;
    border: 2px solid var(--primaryColor);
    border-radius: 3em;
    width: 200px;
}

 
