.logOut {
    background-color: var(--menuColor);
    color: #FFFFFF;
    border: 0;
    padding: 0 2em;
    border-radius: 10em;
}

.mainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: var(--paddingGap) var(--paddingGap);
    gap: var(--paddingGap);
}

.mainPage > .profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.mainPage > .profile > .profilePic {
    height: 8em;
    border-radius: 50%;
}

.mainPage > .profile > .profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

.mainPage > .profile > .profileText > .name {
    font-size: 1.7em;
    font-weight: 600;
    padding-bottom: 0.2em;
}

.mainPage > .profile > .profileText > .designation,
.mainPage > .profile > .profileText > .department {
    font-weight: 500;
}

.mainPage > .table {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table > div,
.table > a {
    display: flex;
    padding: calc(0.5*var(--paddingGap));
}

.table > a {
    text-decoration: none;
    color: var(--textColor);
    transition: 0.2s;
}

.table > a:hover {
    transform: scale(1.012);
}

.table > .heading {
    font-weight: 600;
    border-bottom: 1px solid #000000;
}

.table .code {
    width: 80px;
}

.table .subject {
    flex: 1;
}

