.mainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: var(--paddingGap) var(--paddingGap);
    gap: var(--paddingGap);
}

.mainPage > .profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.mainPage > .profile > .profilePic {
    height: 8em;
    border-radius: 50%;
}

.mainPage > .profile > .profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

.mainPage > .profile > .profileText > .name {
    font-size: 1.7em;
    font-weight: 600;
    padding-bottom: 0.2em;
}

.mainPage > .profile > .profileText > .designation,
.mainPage > .profile > .profileText > .department {
    font-weight: 500;
}

