:root {
    --primaryColor: #843D59;
    --panelColor: #FFE8F1;
    --menuColor: #3B2333;
    --paddingGap: 0.9em;
    --menuTransition: 0.5s;
}

body {
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: calc(0.6*var(--paddingGap)) var(--paddingGap);
    background-color: var(--primaryColor);
}

/* Menu icon to corss icon*/
.hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 0;   
    border: none;
    appearance: none;
    background: none;
    outline: none;
    width: 27px;
    z-index: 99;
}

.hamburger .navbar, .hamburger:after, .hamburger::before {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #000000;
    margin: 4.5px 0;
    transition: var(--menuTransition);
}

.hamburger.is-active:before {
    transform: rotate(45deg) translate(3px, 11px);
    background-color: #FFFFFF;
}

.hamburger.is-active:after {
    transform: rotate(-45deg) translate(0px, -9px);
    background-color: #FFFFFF;
}

.hamburger.is-active .navbar {
    opacity: 0;
}
/**/

/* Navigation Bar */
.navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    min-height: 100vh;
    z-index: 98;
    background-color: var(--menuColor);
    padding-top: 3em;
    transition: var(--menuTransition);
    
    display: flex;
    flex-direction: column;
    a {
        padding: calc(0.6*var(--paddingGap)) var(--paddingGap);
        color: #FFFFFF;
        text-decoration: none;
        border: 0;
        transition: 0.2s;
    }
    
    a:hover {
        padding: calc(0.5*var(--paddingGap)) var(--paddingGap);
        color: #FFFFFF;
        text-decoration: none;
        background-color: #5f3852;
    }
}

.navigation.is-active {
    left: 0;
}
/**/

.mainPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
    margin: var(--paddingGap) var(--paddingGap);
    
    gap: var(--paddingGap);
}

.logOut {
    background-color: var(--menuColor);
    color: #FFFFFF;
    border: 0;
    padding: 0 2em;
    border-radius: 10em;
}








