.mainPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
    margin: var(--paddingGap) var(--paddingGap);
    
    gap: var(--paddingGap);
}

.logOut {
    background-color: var(--menuColor);
    color: #FFFFFF;
    border: 0;
    padding: 0 2em;
    border-radius: 10em;
}








