.mainPage {
    display: flex;
    flex-direction: column;
    padding: var(--paddingGap);
    gap: 30px;
}

.mainPage .subjectName {
    font-size: 2em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.mainPage .lectureNumber {
    margin: 0;
    padding: 0;
}

.mainPage .QRcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--paddingGap);
    padding: var(--paddingGap);
}

.QRcontainer .detailsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
}

.QRcontainer .detailsContainer > h3 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.QRcontainer .detailsContainer .line {
    border: 1px solid black; 
    margin: 1em;
}

.QRcontainer .detailsContainer > .details {
    font-weight: 600;
}

.mainPage .QRcode {
    width: 250px;
    height: auto;
}

.mainPage .deleteLecture {
    border: 0;
    background-color: #ff4b33;
    border-radius: 2em;
    width: 15em;
    padding: 0.7em 2em;
    font-size: 0.8em;
    cursor: pointer;
    align-self: center;
}