/*Background*/
body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header.header {
    background-color: #ad311b;
}

.loginContainer {
    color: rgba(255, 255, 255, 0.849);
}

.loginContainer .loginText {
    color: white;
}

.mainPage .loginContainer .loginInput .box {
    color: white;
}

nav.navigation {
    opacity: 0.9;
}

/* Log In */
.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 0.3em;
    height: 400px;
    width: 320px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.185);
    margin-bottom: 3em; /*remove to perfectly center*/
}

.loginContainer {
    background-color: rgba(0, 0, 0, 0.482);
    /* backdrop-filter: blur(1px); */
}

.loginContainer .loginText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.loginContainer .loginInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(2*var(--paddingGap));
    gap: 15px;
}

.loginContainer .loginInput .email,
.loginContainer .loginInput .password
{
    display: flex;
    flex-direction: column; 
    gap: 7px;
}

.mainPage .loginContainer .loginInput .text {
    font-size: 20px;
    font-weight: 600;
}

.mainPage .loginContainer .loginInput .box {
    border: 3px solid #c5c5c5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 35px;
    font-size: 1.1em;
    background: none
}

.mainPage .loginContainer .loginInput .box:focus {
    outline: 0;
    border-bottom: 3px solid orange;
} 

.mainPage .loginContainer .loginButton {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    color: var(--textAltColor);
    border: 0;
    cursor: pointer;
    padding: 0.5em 3em;
    border: 2px solid rgba(255, 255, 255, 0.849);
    border-radius: 2em;
    width: 50px;
    font-size: 1em;
}

.mainPage .loginContainer .loginButton:hover {
    background-color: rgba(255, 255, 255, 0.128);
}










